@import "tailwindcss";

@theme {
    /* Deep Violet -> Title, powerfull elements*/
    --color-primary: #521d86;

    /* Light lavanda -> Background and soft secondary elements*/
    --color-secondary: #B9A7D6;

    /* Grey Violet -> Buttons, hover effects */
    --color-third: #7A5FA3;

    /* Broken white -> Main background */
    --color-fourth: #F7F5FB;

    /* Dark Grey -> Main text and elements */
    --color-fifth: #2E2A38;

    /* Golden Yellow -> CTA elements, importants links, details */
    --color-sixth:#E0C36F;

}

@layer base {
    body {
        font-family: 'Serif', playfair display, serif;
        @apply bg-fourth;
    }

    Header {
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .Home_wrap {
        position: relative;
    }

    H1 {
        font-family: 'Serif', playfair display, serif;
        @apply text-5xl font-bold text-primary mb-6;
    }

    Full-image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
        overflow: hidden;
        position: relative;
    }
}