@import "tailwindcss";

@theme {
    --color-secondary: #578FCA;
    --color-primary: #3674B5;
    --color-third: #A1E3F9;
    --color-fourth: #EAF6FB;

}

@layer base {
    body {
        font-family: 'Inter', sans-serif;
        @apply bg-fourth;
    }
}