---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import Header from '../components/Header.astro';
import Display from '../components/Containers/Display.astro';
import Full_image from '../components/Containers/Full_image.astro';
import hero from '../assets/Hero.png';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Accueil">
	<!-- <Welcome /> -->
	<div class="Home_wrap">
		<Header/>
		<Full_image imageSrc={hero} altText="Description"/>
	</div>

	<Main/>
	<Display/>
	
</Layout>
