---
// import "@fontsource/cabin";
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import "../styles/global.css";

interface Props {
	title?: string;
	description?: string;
	image?: string;
}

const { title = "Default Title", description = "Default description", image = "/default-image.png" } = Astro.props;
// les descriptions et images entre guillemets sont des valeurs par défaut qui seront utilisées si aucune valeur n'est fournie lors de l'utilisation du layout.
// Pour les images, on cherchera l'image par défaut dans le dossier public.

---
<!doctype html>
<html lang="fr" class="min-h-screen">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta property="og:image" content={image} />
		<title>{title}</title>
	</head>
	<!-- Adding tailwind classes for min height screen -->
	<!-- <body class="min-h-screen grid grid-rows-[auto,1fr,auto]"> -->
	<body class="w-full">
		<slot />
	</body>
</html>

